*{
    margin: 0;
    padding: 0;

}
.banner{
    background-image: url(images/donation7.jpg);
    background-size: cover;
    height: 650px;
    align-items: center;justify-content: center;
    display: flex; align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-title{
    font-size: 65px;
    color: rgba(11, 248, 145, 0.971);

}


.banner-des{
    margin-top: 40px;
    font-size: 20px;
    color: rgb(230, 242, 243);
    font-weight: 400;

}
.btn-primary{
    color: aliceblue;
    margin-top: 100px;
    font-weight: 400;
    font-size: 30px;
    margin-top: 55px;
    padding: 10px 15px;
    border-radius: 7px;
    background-color: rgba(231, 62, 15, 0.788);
}

/* section style */

.donate{
    margin: 100px 150px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.donate-today{
    align-items: center;
    display: flex;
    flex-direction: column;

}

.donate-des{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
}

.donate-title{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: 600;

}

.number{
    margin: 20px;
    display: flex;
    gap :30px;
    margin-bottom: 40px;
    border-radius: 8px;
}

.TK{
    border: 1px solid black;
    padding: 5px 10px;
    background-color: rgb(200, 171, 171);

}
/* donate plan */

.donate-plan{ 
    margin: 200px 150px 100px;
}


.donate-title1{
    font-size: 45px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;

}
.donate-des1{
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;

}
.plan{
    display: flex;
    align-items: center;
    gap: 30px;
}
.full-plan1{
    background: rgba(84, 241, 246, 0.53);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;


}

.full-plan2{
    background: rgba(243, 84, 140, 0.518);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.full-plan3{
    background: rgba(147, 232, 43, 0.401);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.i{
    margin-top: 15px;
    margin-bottom: 8px;
}
.d-head{
    margin-top: 20px;
    margin-bottom: 10px;


}
/* janina */

.section{
    margin: 100px 150px;
}
.container{
    display: flex;
    gap:100px;
}
/* last */



#one{
    font-size: 50px;
    font-size: 800;
    text-align: center;
    margin-bottom: 40px;
}
#one1{
    font-size: 20px;
    text-align: center;
}

.update-container{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 30px auto;
    padding: 50px 100px; background: rgba(238, 254, 21, 0.489);
    border-radius: 5px;



}
.email{
    background: rgba(224, 220, 220, 0.923);
    padding: 20px 40px;
    border: none;
   border-radius: 5px;

}

.update-btn{
    background: rgba(162, 46, 46, 0.759);
    padding: 20px 30px;
    border: none;
   border-radius: 5px;


}